{% extends "base.html" %}

{% block content %}

<div class="container">
    <h3>Foreign Exchange Rates</h3>
</div><div class="container">
    <h2>Base: {{ base }} {{ date }}</h2>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th scope="col">Currency</th>
            <th scope="col">Value</th>
            <th scope="col">New Value</th>
        </tr>
    {% for r, v in rates.items %}
        <tr class={{ v.0 }}>
            <td >{{ r }}</td>
            <td>{{ v.1}}</td>
            <td>{{ v.2 }}</td>
        </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}